@import('./palette.styl')

// 强制更改主题颜色
.custom-block.tip {
    background-color: #f3f5f7;
    border-color: $accentColor;
}
.badge.tip.top{
    background-color: $accentColor !important;
}

// 设置首页图片大小
.home .hero img {
    height :100px;  
}

// TODO 示例组件库的样式抽取在这里